<form action="/manager/system_reset_options" method="post">
	<input type="submit" name="clear_all_reservations" value="CLEAR ALL RESERVATIONS, PAYMENT EVENTS, TRIP REPORTS, WAIT LISTS, WALK-ONS" />
	<input type="submit" name="clear_all_users" value="CLEAR ALL USERS (USE ABOVE FIRST)" />
</form>