<%= form_tag :action => "edit_group_tickets" %>
	<div class="row">
		<textarea name="text" rows="23" cols="90"><%= @text %></textarea>
	</div>
	<div class="row">
		<input type="submit" value="save changes" />
	</div>
</form>