<h3><%= Setting::NAME %> 2006/2007 Schedule</h3>

<p>Reservations are NOW OPEN for Thanksgiving Break! Select your tickets below and click "confirm"! You'll have to verify that you go to Williams, but it will only take a second. We at Williams Transport look forward to serving you!</p>