<html>
<body>
<font face="helvetica,arial">
</font><center>
  <p><font size="6" face="helvetica,arial"> Frequently Asked Questions</font></p>
  <p><font face="helvetica,arial"><strong>NOTE: Refunds cannot be given on uncanceled tickets. You can cancel/change reservations any time until 7 PM the day before your bus leaves. After that time, sales are finalized. Thank You!</strong></font>  </p>
  </center>

<p><font face="helvetica,arial"><font size="4"><u><b>How Does the Electronic Ticket Work?</b></u></font><br>
  When you make a reservation, you will receive an electronic ticket number by e-mail. You must copy this number and bring it with you; a Student Conductor will collect it when you board the bus.</font></p>
<p><font face="helvetica,arial"><font size="4"><u><b>What is a Student Conductor?</b></u></font><br>
      <font face="helvetica, arial">As a Student Conductor, you are personally responsible for collecting confirmation numbers of the passengers on your motor coach. In exchange for fulfilling your responsibilities, your ticket will be free. We encourage you to volunteer if you are comfortable handling these responsibilities.</font></font></p>
<p><font face="helvetica, arial">RESPONSIBILITIES:</font></p>
<p><font face="helvetica, arial">1. Student Conductors must arrive 25 minutes before the scheduled departure of their motor coach <br>
  2. You will receive a list by e-mail of the names and confirmation numbers of all the passengers on your motor coach <br>
  3. Check-in with the Driver upon arrival <br>
  4. When students start to board, take their names and confirmation numbers down. These confirmation numbers are equivalent to tickets: Without a matching confirmation number, a passenger cannot board. <br>
  5. If there are any problems or you need assistance, talk with the Driver </font> </p>
<p><font face="helvetica,arial"><font size="4"><u><b>I Missed My Motor Coach Departure. What do I do?</b></u></font><br>
          <font size="3"> If you are returning to campus from Columbus, please take the next motor coach to campus. The Coach Service will <u>not</u> reimburse the cost of privately arranged transportation.</font></font></p>
<font face="helvetica,arial"> </font>
<p><font face="helvetica,arial"> <font size="4"><u><b>Where Do The Motor Coaches Depart From Campus?</b></u></font><br>
      <font size="3"> All coaches depart from outside Gambier Post Office.</font> </font></p>
<p><font face="helvetica,arial"> <font size="4"><u><b>Where Exactly Do The Motor Coaches Travel?</b></u></font></font></p>
<ul>
  <font face="helvetica,arial"><font size="3"> <b>Columbus Departures</b> will drop off students in front of ticketing, and pick up students outside baggage claim. </font></font>
  <p><font face="helvetica,arial"><font size="3"> <b>Cleveland Departures</b> <font face="helvetica,arial">will drop off students in front of ticketing, and pick up students outside baggage claim. Access to RTA transportation available from the airport. </font></font></font></p>
</ul>
<font face="helvetica,arial"><font size="3"> </font> </font>
<p>
<font face="helvetica,arial"> <font size="4"><u><b>How Long Do The Motor Coaches Take?</b></u></font><br>
<font size="3"> Our motor coach companies estimate the following travel times to/from Kenyon College:
</font></font>
<ul>
  <p><font size="3" face="helvetica,arial"><b>Columbus:</b> 1 hour and 20 minutes<br>
        <b>Cleveland:</b> 2 hours</font></p>
  <p><font face="helvetica,arial"><font size="3"><u>Please Note:</u> These are only <i>estimates</i> and may vary due to traffic and weather conditions. </font> </font>  </p>
</ul>
<p><font face="helvetica,arial"><font size="4"><u><b>How Do I Purchase Tickets?</b></u></font><br>
      <font size="3"> An e-mail will be sent to all students about upcoming Motor Coach departures a couple weeks before each break. Tickets are purchased online, and your E-Ticket confirmation will be sent to you by e-mail. Using credit card, you may purchase tickets until 7:00 PM the day before your departure.</font> </font></p>
<p><font face="helvetica,arial"> <font size="4"><u><b>How Do I Pay For Tickets?</b></u></font><br>
      <font size="3"> Tickets may be purchased with credit card, cash, or a check payable to Student Transport.</font> </font></p>
<p><font face="helvetica,arial"> <font size="4"><u><b>What If I Miss The Ticket Reservation Deadline?</b></u></font><br>
      <font size="3"> Do not worry; with our new system you can still purchase tickets online, <em>until the 7:00 PM deadline on the day prior to your motor coach's departure</em>. After this deadline, tickets cannot be purchased as we have already submitted final ride counts to our operators and Student Conductors.</font> </font></p>
<p><font face="helvetica,arial"> <font size="4"><u><b>Can I Get A Refund?</b></u></font><br>
  With our new E-Ticket system, tickets <strong>cannot be refunded</strong>. However, with the new system you may cancel your tickets until 7 PM the day before your departure. We cannot offer refunds after this point because final passenger counts must be delivered to the motor coach companies. </font></p>
<p><font face="helvetica,arial"> <font size="4"><u><b>What's The Weather Cancellation Policy?</b></u></font><br>
      <font size="3"> Cancellations due to weather will be at the sole discretion of the motor coach company, whose decision is final. <u>Please do not call to see if a coach will be delayed</u>; this decision will be made at the last possible moment. If departures are delayed, they will resume as soon as meteorologically possible. If you are unable to use your ticket because your motor coach is cancelled or delayed due to weather, you will receive a refund of the motor coach ticket price.</font> </font></p>
<p><font face="helvetica,arial"> <font size="4"><u><b>How Early Do I Need To Be At My Airport?</b></u></font><br>
      <font size="3"> We strongly suggest arriving at your airport at least two hours prior to your scheduled departure. Kenyon Coach is not responsible for any costs due to missed flights or other connecting transportation. This includes, but is not limited to, cab fare, hotel rooms, meals, plane tickets, and incidental or consequential damages arising from the use of this service.</font> </font></p>
<p><font face="helvetica,arial"> <font size="4"><u><b>Do The Motor Coaches Depart On Time?</b></u></font><br>
      <font size="3"> Motor Coaches departing Kenyon are strictly instructed to <u>depart precisely on time</u>. Students have planes to catch and they must get to their destination on time. <b>We strongly urge arriving at the motor coach 15 minutes prior to your scheduled departure.</b> </font></font></p>
<p><font face="helvetica,arial"><font size="3">Motor Coaches returning to Kenyon are not under such stringent time pressure. If a large number of passengers are not on a motor coach at its scheduled departure time (drivers have exact passenger counts), the motor coach may wait a few minutes, at the driver's sole discretion. The last motor coach of the day usually waits longer than earlier ones. </font> </font></p>
<p><font face="helvetica,arial"> <font size="4"><u><b>Who Should I Contact With Additional Questions?</b></u></font><br>
      <font size="3"> If your question is not answered here, please contact Rob Galloway (gallowayr)</font> </font></p>
</body>
</html>
