<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title><%= Setting::NAME %></title>
</head>
<body style="text-align: center; margin: 0 auto;">
<h2>Student Conductor Responsibilities</h2>
<ul style="text-align: left;">
	<li>Note: You will still be charged for the ticket if you volunteer. Once you complete your duties correctly, your ticket cost will be refunded.</li>
	<li>8pm the night before your trip, you will receive by e-mail the passenger list for your bus. You will print this out and bring it with you.</li>
	<li>You will arrive at least 25 minutes early to the bus.</li>
	<li>As students begin boarding, you will ask them for their school ID, and check it off on the list.</li>
	<li>If a student does not have a ticket, they must wait until everyone else has boarded, and then if there are seats left they can purchase a ticket by giving you their name, school e-mail address, cell phone, and home phone.</li>
	<li>You will make sure that the bus departs ON TIME.</li>
	<li>You will work with the driver to make sure that the trip goes safely and smoothly.</li>
</ul>
</body>
</head>